<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../../partials/head') %>
</head>
<body>
<container>
  <label>Home Page</label>

  <%- include('../../partials/nav') %>

  <div>
    <%- include('../../partials/footer') %>
  </div>

</container>
</body>
</html>